In [49]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
from sklearn.preprocessing import LabelEncoder
from pathlib import Path

# Set the option to display all columns
# pd.set_option('display.max_columns', None)

# Table of Contents
- [Setup](#Setup)
- [VIOLATION_CODE Preparation](#violation_code-preparation)
- [ISSUING_AGENCY_NAME Preparation](#issuing_agency_name-preparation)
- [ISSUE_TIME Conversion to PERIOD_OF_DAY](#ISSUE_TIME-Conversion-to-PERIOD_OF_DAY)
- [New Boolean Weekday or Weekend Column](#New-Boolean-Weekday-or-Weekend-Column)
- [PLATE_STATE Preparation](#PLATE_STATE-Preparation)
- [Latitude and Longitude to Neighborhood](#LATITUDE-and-LONGITUDE-PREPARATION)
- [Convert Numeric Variables to Categorical Variables](#Convert-Numeric-Variables-to-Categorical-Variables)
- [Export to csv](#Export)

## Setup

In [24]:
data = Path("Resources/tickets_2024_09.csv")
df = pd.read_csv(data)

C:\Users\rfqwx\AppData\Local\Temp\ipykernel_29700\818439906.py:2: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98493 entries, 0 to 98492
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OBJECTID              98493 non-null  int64
 1   TICKET_NUMBER         98493 non-null  int64
 2   VIOLATION_TYPE_DESC   98493 non-null  object
 3   ISSUE_DATE            98493 non-null  object
 4   ISSUE_TIME            98493 non-null  int64
 5   ISSUING_AGENCY_CODE   98493 non-null  int64
 6   ISSUING_AGENCY_NAME   98493 non-null  object
 7   ISSUING_AGENCY_SHORT  98493 non-null  object
 8   VIOLATION_CODE        98493 non-null  object
 9   VIOLATION_PROC_DESC   98485 non-null  object
 10  LOCATION              98493 non-null  object
 11  PLATE_STATE           98493 non-null  object
 12  VEHICLE_TYPE          0 non-null      float64
 13  MULTI_OWNER_NUMBER    98493 non-null  int64
 14  DISPOSITION_CODE      98493 non-null  int64
 15  DISPOSITION_TYPE      98493 non-null  object
 16  DISPOSITION_DESC      3252 non-null   object
 17  DISPOSITION_DATE      3252 non-null   object
 18  FINE_AMOUNT           98493 non-null  int64
 19  TOTAL_PAID            98493 non-null  int64
 20  PENALTY_1             98493 non-null  int64
 21  PENALTY_2             98493 non-null  int64
 22  PENALTY_3             98493 non-null  int64
 23  PENALTY_4             98493 non-null  int64
 24  PENALTY_5             98493 non-null  int64
 25  XCOORD                97559 non-null  float64
 26  YCOORD                97559 non-null  float64
 27  LATITUDE              97559 non-null  float64
 28  LONGITUDE             97559 non-null  float64
 29  MAR_ID                97559 non-null  float64
 30  GIS_LAST_MOD_DTTM     98493 non-null  object
dtypes: float64(6), int64(13), object(12)
memory usage: 23.3+ MB

In [26]:
df

,OBJECTID,TICKET_NUMBER,VIOLATION_TYPE_DESC,ISSUE_DATE,ISSUE_TIME,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,VIOLATION_CODE,VIOLATION_PROC_DESC,...,PENALTY_2,PENALTY_3,PENALTY_4,PENALTY_5,XCOORD,YCOORD,LATITUDE,LONGITUDE,MAR_ID,GIS_LAST_MOD_DTTM
0,83487425,260566401,P,2024/09/05 04:00:00+00,657,54,ST.ELZBETH HOSPITAL SECURITY GUARDS,SEH,P170,FAILURE TO DISPLAY CURRENT TAGS,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,2024/10/16 14:04:18+00
1,83487426,266969312,P,2024/09/18 04:00:00+00,133,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P055,NO PARKING ANYTIME,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,2024/10/16 14:04:18+00
2,83487445,266974724,P,2024/09/01 04:00:00+00,1020,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P012,DISOBEYING OFFICIAL SIGN,...,0,0,0,0,397076.780,135370.390,38.886,-77.034,810050.0,2024/10/16 14:04:18+00
3,83487446,266974735,P,2024/09/08 04:00:00+00,1051,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P170,FAILURE TO DISPLAY CURRENT TAGS,...,0,0,0,0,397328.708,135348.587,38.886,-77.031,805720.0,2024/10/16 14:04:18+00
4,83487447,266974746,P,2024/09/08 04:00:00+00,1108,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P170,FAILURE TO DISPLAY CURRENT TAGS,...,0,0,0,0,397328.637,135237.646,38.885,-77.031,801948.0,2024/10/16 14:04:18+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98488,83587778,8271938231,P,2024/09/30 04:00:00+00,1535,15,DEPARTMENT OF PUBLIC WORKS,DPW,P012,DISOBEYING OFFICIAL SIGN,...,0,0,0,0,399383.850,135200.010,38.885,-77.007,812200.0,2024/10/16 14:04:59+00
98489,83587779,8271938242,P,2024/09/30 04:00:00+00,1638,15,DEPARTMENT OF PUBLIC WORKS,DPW,P259,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98490,83587780,8271938253,P,2024/09/30 04:00:00+00,1639,15,DEPARTMENT OF PUBLIC WORKS,DPW,P170,FAILURE TO DISPLAY CURRENT TAGS,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98491,83587781,8271938264,P,2024/09/30 04:00:00+00,1640,15,DEPARTMENT OF PUBLIC WORKS,DPW,P259,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98492,83587782,8271938275,P,2024/09/30 04:00:00+00,1641,15,DEPARTMENT OF PUBLIC WORKS,DPW,P259,NO STOPPING OR STANDING IN PM RUSH HOUR ZONE,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00

## VIOLATION_CODE Preparation
VIOLATION_CODE contains the designation for the specific type of violation committed.
We will combine all VIOLATION_CODE values that occurr less than 30 times (less than once per day on average) into a single code.
[Go to Table of Contents](#table-of-contents)

In [27]:
new_df = df.copy()

In [28]:
# Count unique values
violation_codes = new_df["VIOLATION_CODE"].value_counts()

# Create dataframe
violation_df = violation_codes.reset_index()
violation_df.columns = ["VIOLATION_CODE", "count"]

# Calculate cumulative percentage 
violation_df["percent"] = (violation_df["count"] / len(df)) * 100
violation_df["cumulative_percent"] = violation_df["percent"].cumsum()

# Display all codes
with pd.option_context('display.max_rows', None):
    print(violation_df)

    VIOLATION_CODE  count    percent  cumulative_percent
0             P281  12465  12.655722           12.655722
1             P012   8841   8.976272           21.631994
2             P173   8784   8.918400           30.550394
3             P170   8278   8.404658           38.955053
4             P055   5809   5.897881           44.852934
5             P269   4974   5.050105           49.903039
6             P259   4335   4.401328           54.304367
7             P003   4330   4.396252           58.700618
8             P168   3761   3.818545           62.519164
9             P076   3006   3.051994           65.571157
10            P039   2772   2.814413           68.385571
11            P031   2508   2.546374           70.931944
12            P322   2421   2.458043           73.389987
13            P159   2373   2.409308           75.799295
14            P172   1959   1.988974           77.788269
15            P113   1465   1.487415           79.275685
16            P344   1273   1.292478           80.568162
17            P002   1219   1.237651           81.805814
18            P007   1169   1.186886           82.992700
19            P112   1152   1.169626           84.162326
20            P386   1130   1.147290           85.309616
21            P020    999   1.014285           86.323901
22            P014    961   0.975704           87.299605
23            P365    806   0.818332           88.117937
24            P304    744   0.755384           88.873321
25            P280    689   0.699542           89.572863
26            P057    676   0.686343           90.259206
27            P199    649   0.658930           90.918136
28            P363    636   0.645731           91.563867
29            P037    636   0.645731           92.209599
30            P013    581   0.589890           92.799488
31            P050    578   0.586844           93.386332
32            P271    504   0.511711           93.898044
33            P216    416   0.422365           94.320409
34            P307    374   0.379722           94.700131
35            P001    365   0.370585           95.070716
36            P036    346   0.351294           95.422010
37            P270    336   0.341141           95.763151
38            P302    298   0.302560           96.065710
39            P046    256   0.259917           96.325627
40            P417    248   0.251795           96.577422
41            P022    244   0.247733           96.825155
42            P010    235   0.238596           97.063751
43            P029    191   0.193922           97.257673
44            P005    161   0.163463           97.421137
45            P169    161   0.163463           97.584600
46            P385    155   0.157372           97.741972
47            P303    139   0.141127           97.883098
48            P285    135   0.137066           98.020164
49            P054    127   0.128943           98.149107
50            P042    120   0.121836           98.270943
51            P035    114   0.115744           98.386687
52            P056    109   0.110668           98.497355
53            P045     85   0.086301           98.583656
54            P047     82   0.083255           98.666910
55            P282     81   0.082239           98.749150
56            P111     75   0.076148           98.825297
57            P396     75   0.076148           98.901445
58            P320     74   0.075132           98.976577
59            P430     70   0.071071           99.047648
60            P318     69   0.070056           99.117704
61            P332     64   0.064979           99.182683
62            P314     59   0.059903           99.242586
63            P015     53   0.053811           99.296397
64            P289     52   0.052796           99.349192
65            P316     51   0.051780           99.400973
66            P004     47   0.047719           99.448692
67            P278     43   0.043658           99.492350
68            P011     42   0.042643           99.534992
69            P034     40   0.040612           99.575604
70            P025     35   0.035536           99.611140
71            P418     28   0.028428           99.639568
72            P059     25   0.025383           99.664951
73            P024     24   0.024367           99.689318
74            P434     23   0.023352           99.712670
75            P338     23   0.023352           99.736022
76            P093     22   0.022337           99.758358
77            P395     21   0.021321           99.779680
78            P043     18   0.018275           99.797955
79            P040     15   0.015230           99.813185
80            P421     13   0.013199           99.826384
81            P077     12   0.012184           99.838567
82            P104     12   0.012184           99.850751
83            P315     12   0.012184           99.862934
84            P023     11   0.011168           99.874103
85            P429      9   0.009138           99.883240
86            P306      8   0.008122           99.891363
87         NO VIOL      8   0.008122           99.899485
88            P016      7   0.007107           99.906592
89            P369      6   0.006092           99.912684
90            P058      6   0.006092           99.918776
91            P410      6   0.006092           99.924868
92            P032      6   0.006092           99.930960
93            P367      5   0.005077           99.936036
94            P413      5   0.005077           99.941113
95            P331      5   0.005077           99.946189
96            P403      5   0.005077           99.951266
97            P239      4   0.004061           99.955327
98            P120      4   0.004061           99.959388
99            P090      4   0.004061           99.963449
100           P198      3   0.003046           99.966495
101           P019      3   0.003046           99.969541
102           P017      3   0.003046           99.972587
103           P319      2   0.002031           99.974617
104           P053      2   0.002031           99.976648
105           P097      2   0.002031           99.978679
106           P284      2   0.002031           99.980709
107           P387      2   0.002031           99.982740
108           P370      1   0.001015           99.983755
109           P409      1   0.001015           99.984770
110           P391      1   0.001015           99.985786
111           P411      1   0.001015           99.986801
112           P069      1   0.001015           99.987816
113           P412      1   0.001015           99.988832
114           P431      1   0.001015           99.989847
115           P373      1   0.001015           99.990862
116           P419      1   0.001015           99.991878
117           P311      1   0.001015           99.992893
118           P026      1   0.001015           99.993908
119           P109      1   0.001015           99.994923
120           P072      1   0.001015           99.995939
121           P404      1   0.001015           99.996954
122           P300      1   0.001015           99.997969
123           P018      1   0.001015           99.998985
124           P346      1   0.001015          100.000000

In [29]:
# COMBINE ALL CODES OCCURRING LESS THAN 30 TIMES INTO A SINGLE AGGREGATE CODE

# Identify all codes occurring less than 30 times
violation_codes_to_replace = violation_codes[violation_codes < 30].index.tolist()

# Replace in dataframe
for code in violation_codes_to_replace:
    new_df['VIOLATION_CODE'] = new_df['VIOLATION_CODE'].replace(code, "OTHER")

# Check to make sure replacement was successful
new_df['VIOLATION_CODE'].value_counts()

VIOLATION_CODE
P281    12465
P012     8841
P173     8784
P170     8278
P055     5809
        ...
P004       47
P278       43
P011       42
P034       40
P025       35
Name: count, Length: 72, dtype: int64

## ISSUING_AGENCY_NAME Preparation
Combine agencies that issue fewer than 30 tickets into one code.
[Go to Table of Contents](#table-of-contents)

In [30]:
issuing_agencies = new_df["ISSUING_AGENCY_NAME"].value_counts()
issuing_agencies

ISSUING_AGENCY_NAME
DEPARTMENT OF PUBLIC WORKS             94235
DDOT                                    2106
METROPOLITAN POLICE DPT-DISTRICT 1       508
UNITED STATES CAPITOL POLICE             396
TAXI COMMISSION                          259
METROPOLITAN POLICE DPT-DISTRICT 3       193
METROPOLITAN POLICE DPT-DISTRICT 2       151
METROPOLITAN POLICE DPT-DISTRICT 4       113
METRO POLICE                              95
METROPOLITAN POLICE DPT-DISTRICT 5        94
US. BUREAU OF ENGRAVING AND PRINTNG       69
SPECIAL OPERATION DIV & TRAFFIC DIV       57
METROPOLITAN POLICE DPT-DISTRICT 6        49
UNITED STATES PARK POLICE                 44
METROPOLITAN POLICE DPT-DISTRICT 7        32
UNVRSTY OF THE D.C. SECURITY POLICE       20
US. SECRET SERVICE UNIFORM DIVISION       18
BOLLING AFB                               10
MPD RESERVE CORPS                          8
PROTECTIVE SERVICES DEPT (DC GOVT)         6
FBI                                        5
METRO POLICE DPT-PROPERTY DIVISION         5
NO AGENCY                                  4
U.S. NATIONAL ZOOLOGICAL POLICE            4
FEDERAL PROTECTIVE SERVICES (US GV)        3
DPT. OF GENERAL SERVICES GUARDS            3
OPERATIONS COMMAND                         3
ST.ELZBETH HOSPITAL SECURITY GUARDS        2
COMMAND INFORMATION CENTER                 1
Name: count, dtype: int64

In [31]:
# COMBINE ALL NAMES OCCURRING LESS THAN 30 TIMES INTO A SINGLE AGGREGATE NAME

# Identify all names occurring less than 30 times
issuing_agencies_to_replace = issuing_agencies[issuing_agencies < 30].index.tolist()

# Replace in dataframe
for name in issuing_agencies_to_replace:
    new_df['ISSUING_AGENCY_NAME'] = new_df['ISSUING_AGENCY_NAME'].replace(name, "OTHER")

In [32]:
# Check to make sure replacement was successful
new_df['ISSUING_AGENCY_NAME'].value_counts()

ISSUING_AGENCY_NAME
DEPARTMENT OF PUBLIC WORKS             94235
DDOT                                    2106
METROPOLITAN POLICE DPT-DISTRICT 1       508
UNITED STATES CAPITOL POLICE             396
TAXI COMMISSION                          259
METROPOLITAN POLICE DPT-DISTRICT 3       193
METROPOLITAN POLICE DPT-DISTRICT 2       151
METROPOLITAN POLICE DPT-DISTRICT 4       113
METRO POLICE                              95
METROPOLITAN POLICE DPT-DISTRICT 5        94
OTHER                                     92
US. BUREAU OF ENGRAVING AND PRINTNG       69
SPECIAL OPERATION DIV & TRAFFIC DIV       57
METROPOLITAN POLICE DPT-DISTRICT 6        49
UNITED STATES PARK POLICE                 44
METROPOLITAN POLICE DPT-DISTRICT 7        32
Name: count, dtype: int64

## ISSUE_TIME Conversion to PERIOD_OF_DAY
Turn this numeric column into a categorical column based on the period of the day: late night, morning commute, morning, lunch, afternoon, evening commute, and night. [Go to Table of Contents](#table-of-contents)

In [33]:
# Define a function to map ISSUE_TIME to periods of the day
def categorize_time(time):
    if time > 2300 or time < 700:  # Late Night/Early Morning
        return 0
    elif 700 <= time < 900:  # Morning Commute
        return 1
    elif 900 <= time < 1100:  # Morning
        return 2
    elif 1100 <= time < 1300:  # Lunch
        return 3
    elif 1300 <= time < 1700:  # Afternoon
        return 4
    elif 1700 <= time < 2000:  # Evening Commute
        return 5
    else:  # Night
        return 6

# Apply the function to the ISSUE_TIME column, then insert the new column immediately after the ISSUE_TIME column
new_df['PERIOD_OF_DAY'] = new_df['ISSUE_TIME'].apply(categorize_time)
issue_time_index = new_df.columns.get_loc('ISSUE_TIME')
new_df.insert(issue_time_index + 1, 'PERIOD_OF_DAY', new_df.pop('PERIOD_OF_DAY'))
new_df

,OBJECTID,TICKET_NUMBER,VIOLATION_TYPE_DESC,ISSUE_DATE,ISSUE_TIME,PERIOD_OF_DAY,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,VIOLATION_CODE,...,PENALTY_2,PENALTY_3,PENALTY_4,PENALTY_5,XCOORD,YCOORD,LATITUDE,LONGITUDE,MAR_ID,GIS_LAST_MOD_DTTM
0,83487425,260566401,P,2024/09/05 04:00:00+00,657,0,54,OTHER,SEH,P170,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,2024/10/16 14:04:18+00
1,83487426,266969312,P,2024/09/18 04:00:00+00,133,0,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P055,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,2024/10/16 14:04:18+00
2,83487445,266974724,P,2024/09/01 04:00:00+00,1020,2,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P012,...,0,0,0,0,397076.780,135370.390,38.886,-77.034,810050.0,2024/10/16 14:04:18+00
3,83487446,266974735,P,2024/09/08 04:00:00+00,1051,2,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P170,...,0,0,0,0,397328.708,135348.587,38.886,-77.031,805720.0,2024/10/16 14:04:18+00
4,83487447,266974746,P,2024/09/08 04:00:00+00,1108,3,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,P170,...,0,0,0,0,397328.637,135237.646,38.885,-77.031,801948.0,2024/10/16 14:04:18+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98488,83587778,8271938231,P,2024/09/30 04:00:00+00,1535,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,P012,...,0,0,0,0,399383.850,135200.010,38.885,-77.007,812200.0,2024/10/16 14:04:59+00
98489,83587779,8271938242,P,2024/09/30 04:00:00+00,1638,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,P259,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98490,83587780,8271938253,P,2024/09/30 04:00:00+00,1639,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,P170,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98491,83587781,8271938264,P,2024/09/30 04:00:00+00,1640,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,P259,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98492,83587782,8271938275,P,2024/09/30 04:00:00+00,1641,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,P259,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00

## New Boolean Weekday or Weekend Column
[Go to Table of Contents](#table-of-contents)

In [34]:
# Convert ISSUE_DATE to datetime format
new_df['ISSUE_DATE'] = pd.to_datetime(new_df['ISSUE_DATE'])

# Add a new column: 0 for weekday, 1 for weekend
new_df['WEEKEND'] = new_df['ISSUE_DATE'].dt.dayofweek.apply(lambda x: 1 if x >= 5 else 0)
issue_date_index = new_df.columns.get_loc('ISSUE_DATE')
new_df.insert(issue_date_index + 1, 'WEEKEND', new_df.pop('WEEKEND'))

In [35]:
new_df

,OBJECTID,TICKET_NUMBER,VIOLATION_TYPE_DESC,ISSUE_DATE,WEEKEND,ISSUE_TIME,PERIOD_OF_DAY,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,...,PENALTY_2,PENALTY_3,PENALTY_4,PENALTY_5,XCOORD,YCOORD,LATITUDE,LONGITUDE,MAR_ID,GIS_LAST_MOD_DTTM
0,83487425,260566401,P,2024-09-05 04:00:00+00:00,0,657,0,54,OTHER,SEH,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,2024/10/16 14:04:18+00
1,83487426,266969312,P,2024-09-18 04:00:00+00:00,0,133,0,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,2024/10/16 14:04:18+00
2,83487445,266974724,P,2024-09-01 04:00:00+00:00,1,1020,2,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,...,0,0,0,0,397076.780,135370.390,38.886,-77.034,810050.0,2024/10/16 14:04:18+00
3,83487446,266974735,P,2024-09-08 04:00:00+00:00,1,1051,2,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,...,0,0,0,0,397328.708,135348.587,38.886,-77.031,805720.0,2024/10/16 14:04:18+00
4,83487447,266974746,P,2024-09-08 04:00:00+00:00,1,1108,3,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,...,0,0,0,0,397328.637,135237.646,38.885,-77.031,801948.0,2024/10/16 14:04:18+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98488,83587778,8271938231,P,2024-09-30 04:00:00+00:00,0,1535,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,...,0,0,0,0,399383.850,135200.010,38.885,-77.007,812200.0,2024/10/16 14:04:59+00
98489,83587779,8271938242,P,2024-09-30 04:00:00+00:00,0,1638,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98490,83587780,8271938253,P,2024-09-30 04:00:00+00:00,0,1639,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98491,83587781,8271938264,P,2024-09-30 04:00:00+00:00,0,1640,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98492,83587782,8271938275,P,2024-09-30 04:00:00+00:00,0,1641,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00

## PLATE_STATE Preparation
Replace blank values with DC. Aggregate states that appear infrequently into a single category. [Go to Table of Contents](#table-of-contents)

In [36]:
plate_states = new_df["PLATE_STATE"].value_counts()
plate_states

PLATE_STATE
      96742
VA     1265
GA      126
FL      107
MD       99
IL       59
WA       24
MI       22
AL        9
NC        8
NJ        7
MO        5
SC        4
TX        3
WI        2
DC        2
WV        1
VT        1
CO        1
LA        1
NV        1
MN        1
OK        1
IN        1
OH        1
Name: count, dtype: int64

In [37]:
# Identify states whose plates were ticketed less than 50 times (i.e., less than approximately 0.05% of all tickets)
plate_states_to_replace = plate_states[plate_states < 50].index.tolist()
plate_states_to_replace

# Replace in dataframe
for state in plate_states_to_replace:
    new_df['PLATE_STATE'] = new_df['PLATE_STATE'].replace(state, "OTHER")

In [38]:
# Replace null and single-space values with DC. Rows for DC vehicles seem to have a single space as value.
new_df['PLATE_STATE'] = new_df['PLATE_STATE'].astype(str)
new_df['PLATE_STATE'] = new_df['PLATE_STATE'].replace(['', ' ', 'nan', 'None'], 'DC')
new_df['PLATE_STATE'] = new_df['PLATE_STATE'].fillna('DC')

In [39]:
# Check to make sure replacement was successful
new_df['PLATE_STATE'].value_counts()

PLATE_STATE
DC       96742
VA        1265
GA         126
FL         107
MD          99
OTHER       95
IL          59
Name: count, dtype: int64

## LATITUDE and LONGITUDE PREPARATION
Convert geographic coordinates to neighborhoods as categories.
Note: EPSG:4326 is the standard latitude/longitude coordinate reference system (CRS). Data from https://catalog.data.gov/dataset/neighborhood-clusters/resource/39d2cb14-5d10-4ac2-916e-f5b78670fcb9

[Go to Table of Contents](#table-of-contents)

In [41]:
# Load the polygons from GeoJSON file into a GeoDataFrame
neighborhoods_df = gpd.read_file("Resources/neighborhood_clusters.geojson")

# Confirm the GeoDataFrame uses latitude and longitude CRS
print("Neighborhoods CRS:", neighborhoods_df.crs)

# Display the DataFrame columns; we want the NBH_NAMES columns
print(neighborhoods_df.info())

Neighborhoods CRS: EPSG:4326
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OBJECTID   46 non-null     int64
 1   WEB_URL    39 non-null     object
 2   NAME       46 non-null     object
 3   NBH_NAMES  46 non-null     object
 4   TYPE       46 non-null     object
 5   GLOBALID   46 non-null     object
 6   CREATOR    0 non-null      object
 7   CREATED    0 non-null      object
 8   EDITOR     0 non-null      object
 9   EDITED     0 non-null      object
 10  SHAPEAREA  46 non-null     int64
 11  SHAPELEN   46 non-null     int64
 12  geometry   46 non-null     geometry
dtypes: geometry(1), int64(3), object(9)
memory usage: 4.8+ KB
None

In [42]:
# Remove rows from original dataset that lack latitude or longitude
new_df.dropna(subset=['LATITUDE', 'LONGITUDE'], inplace=True)
new_df

,OBJECTID,TICKET_NUMBER,VIOLATION_TYPE_DESC,ISSUE_DATE,WEEKEND,ISSUE_TIME,PERIOD_OF_DAY,ISSUING_AGENCY_CODE,ISSUING_AGENCY_NAME,ISSUING_AGENCY_SHORT,...,PENALTY_2,PENALTY_3,PENALTY_4,PENALTY_5,XCOORD,YCOORD,LATITUDE,LONGITUDE,MAR_ID,GIS_LAST_MOD_DTTM
2,83487445,266974724,P,2024-09-01 04:00:00+00:00,1,1020,2,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,...,0,0,0,0,397076.780,135370.390,38.886,-77.034,810050.0,2024/10/16 14:04:18+00
3,83487446,266974735,P,2024-09-08 04:00:00+00:00,1,1051,2,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,...,0,0,0,0,397328.708,135348.587,38.886,-77.031,805720.0,2024/10/16 14:04:18+00
4,83487447,266974746,P,2024-09-08 04:00:00+00:00,1,1108,3,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,...,0,0,0,0,397328.637,135237.646,38.885,-77.031,801948.0,2024/10/16 14:04:18+00
5,83487448,266974750,P,2024-09-08 04:00:00+00:00,1,1111,3,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,...,0,0,0,0,397328.637,135237.646,38.885,-77.031,801948.0,2024/10/16 14:04:18+00
6,83487449,266974761,P,2024-09-08 04:00:00+00:00,1,1113,3,59,US. BUREAU OF ENGRAVING AND PRINTNG,BEP,...,0,0,0,0,397328.637,135237.646,38.885,-77.031,801948.0,2024/10/16 14:04:18+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98488,83587778,8271938231,P,2024-09-30 04:00:00+00:00,0,1535,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,...,0,0,0,0,399383.850,135200.010,38.885,-77.007,812200.0,2024/10/16 14:04:59+00
98489,83587779,8271938242,P,2024-09-30 04:00:00+00:00,0,1638,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98490,83587780,8271938253,P,2024-09-30 04:00:00+00:00,0,1639,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98491,83587781,8271938264,P,2024-09-30 04:00:00+00:00,0,1640,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00
98492,83587782,8271938275,P,2024-09-30 04:00:00+00:00,0,1641,4,15,DEPARTMENT OF PUBLIC WORKS,DPW,...,0,0,0,0,399995.838,135331.512,38.886,-77.000,803850.0,2024/10/16 14:04:59+00

In [43]:
# Load latitude longitude from dataset
data = pd.DataFrame({
    'latitude': new_df["LATITUDE"],
    'longitude': new_df["LONGITUDE"]
})

# Convert latitude and longitude to GeoDataFrame
geometry = [Point(xy) for xy in zip(data['longitude'], data['latitude'])]
geo_df = gpd.GeoDataFrame(data, geometry=geometry, crs="EPSG:4326")
geo_df

       latitude  longitude                    geometry
2        38.886    -77.034  POINT (-77.03400 38.88600)
3        38.886    -77.031  POINT (-77.03100 38.88600)
4        38.885    -77.031  POINT (-77.03100 38.88500)
5        38.885    -77.031  POINT (-77.03100 38.88500)
6        38.885    -77.031  POINT (-77.03100 38.88500)
...         ...        ...                         ...
98488    38.885    -77.007  POINT (-77.00700 38.88500)
98489    38.886    -77.000  POINT (-77.00000 38.88600)
98490    38.886    -77.000  POINT (-77.00000 38.88600)
98491    38.886    -77.000  POINT (-77.00000 38.88600)
98492    38.886    -77.000  POINT (-77.00000 38.88600)

[97559 rows x 3 columns]

In [44]:
# Perform the spatial join
join_df = gpd.sjoin(geo_df, neighborhoods_df, how="left", predicate="intersects")

In [45]:
# Add neighborhood cluster name column to our original DataFrame
new_df['NEIGHBORHOOD'] = join_df['NBH_NAMES']

# Place new column next to existing LOCATION column
issue_date_index = new_df.columns.get_loc('LOCATION')
new_df.insert(issue_date_index + 1, 'NEIGHBORHOOD', new_df.pop('NEIGHBORHOOD'))

new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97559 entries, 2 to 98492
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   OBJECTID              97559 non-null  int64
 1   TICKET_NUMBER         97559 non-null  int64
 2   VIOLATION_TYPE_DESC   97559 non-null  object
 3   ISSUE_DATE            97559 non-null  datetime64[ns, UTC]
 4   WEEKEND               97559 non-null  int64
 5   ISSUE_TIME            97559 non-null  int64
 6   PERIOD_OF_DAY         97559 non-null  int64
 7   ISSUING_AGENCY_CODE   97559 non-null  int64
 8   ISSUING_AGENCY_NAME   97559 non-null  object
 9   ISSUING_AGENCY_SHORT  97559 non-null  object
 10  VIOLATION_CODE        97559 non-null  object
 11  VIOLATION_PROC_DESC   97552 non-null  object
 12  LOCATION              97559 non-null  object
 13  NEIGHBORHOOD          97478 non-null  object
 14  PLATE_STATE           97559 non-null  object
 15  VEHICLE_TYPE          0 non-null      float64
 16  MULTI_OWNER_NUMBER    97559 non-null  int64
 17  DISPOSITION_CODE      97559 non-null  int64
 18  DISPOSITION_TYPE      97559 non-null  object
 19  DISPOSITION_DESC      3194 non-null   object
 20  DISPOSITION_DATE      3194 non-null   object
 21  FINE_AMOUNT           97559 non-null  int64
 22  TOTAL_PAID            97559 non-null  int64
 23  PENALTY_1             97559 non-null  int64
 24  PENALTY_2             97559 non-null  int64
 25  PENALTY_3             97559 non-null  int64
 26  PENALTY_4             97559 non-null  int64
 27  PENALTY_5             97559 non-null  int64
 28  XCOORD                97559 non-null  float64
 29  YCOORD                97559 non-null  float64
 30  LATITUDE              97559 non-null  float64
 31  LONGITUDE             97559 non-null  float64
 32  MAR_ID                97559 non-null  float64
 33  GIS_LAST_MOD_DTTM     97559 non-null  object
dtypes: datetime64[ns, UTC](1), float64(6), int64(15), object(12)
memory usage: 26.1+ MB

## Convert Numeric Variables to Categorical Variables
Convert the prepared columns to integer categories.
[Go to Table of Contents](#table-of-contents)

In [47]:
# These are the columns that have been prepared and are ready to use for modeling
selected_df = new_df[['WEEKEND', 'ISSUING_AGENCY_NAME', 'VIOLATION_CODE', 'NEIGHBORHOOD', 'PLATE_STATE', 'PERIOD_OF_DAY']]
selected_df

,WEEKEND,ISSUING_AGENCY_NAME,VIOLATION_CODE,NEIGHBORHOOD,PLATE_STATE,PERIOD_OF_DAY
2,1,US. BUREAU OF ENGRAVING AND PRINTNG,P012,"National Mall, Potomac River",DC,2
3,1,US. BUREAU OF ENGRAVING AND PRINTNG,P170,"Southwest Employment Area, Southwest/Waterfron...",DC,2
4,1,US. BUREAU OF ENGRAVING AND PRINTNG,P170,"Southwest Employment Area, Southwest/Waterfron...",DC,3
5,1,US. BUREAU OF ENGRAVING AND PRINTNG,P170,"Southwest Employment Area, Southwest/Waterfron...",DC,3
6,1,US. BUREAU OF ENGRAVING AND PRINTNG,P170,"Southwest Employment Area, Southwest/Waterfron...",DC,3
...,...,...,...,...,...,...
98488,0,DEPARTMENT OF PUBLIC WORKS,P012,"Capitol Hill, Lincoln Park",DC,4
98489,0,DEPARTMENT OF PUBLIC WORKS,P259,"Capitol Hill, Lincoln Park",DC,4
98490,0,DEPARTMENT OF PUBLIC WORKS,P170,"Capitol Hill, Lincoln Park",DC,4
98491,0,DEPARTMENT OF PUBLIC WORKS,P259,"Capitol Hill, Lincoln Park",DC,4
98492,0,DEPARTMENT OF PUBLIC WORKS,P259,"Capitol Hill, Lincoln Park",DC,4

'WEEKEND', 'PERIOD_OF_DAY' are already integer categories. Convert the other four columns.

In [51]:
# Create new copy of the prepared DataFrame, which will be used to contain the encoded columns
encoded_df = new_df.copy()

In [52]:
label_encoders = {}
for column in ['ISSUING_AGENCY_NAME', 'VIOLATION_CODE', 'NEIGHBORHOOD', 'PLATE_STATE']:
    le = LabelEncoder()
    encoded_df[column] = le.fit_transform(encoded_df[column])
    label_encoders[column] = le

In [54]:
# Update the selected DataFrame
selected_df = encoded_df[['WEEKEND', 'ISSUING_AGENCY_NAME', 'VIOLATION_CODE', 'NEIGHBORHOOD', 'PLATE_STATE', 'PERIOD_OF_DAY']]
selected_df

,WEEKEND,ISSUING_AGENCY_NAME,VIOLATION_CODE,NEIGHBORHOOD,PLATE_STATE,PERIOD_OF_DAY
2,1,15,9,27,0,2
3,1,15,39,36,0,2
4,1,15,39,36,0,3
5,1,15,39,36,0,3
6,1,15,39,36,0,3
...,...,...,...,...,...,...
98488,0,1,9,3,0,4
98489,0,1,44,3,0,4
98490,0,1,39,3,0,4
98491,0,1,44,3,0,4
98492,0,1,44,3,0,4

## Export
[Go to Table of Contents](#table-of-contents)

In [ ]:
# Export complete new_df to csv
new_df.to_csv('Resources/updated_tickets_2024_09.csv', index=False)

In [55]:
# If you want an export of just the six prepared columns, use this csv
selected_df.to_csv('Resources/updated_tickets_2024_09_selected.csv', index=False)